@charset "ISO-8859-1";

.navbar-header{
	width:100%;
	display: flex;
	justify-content: space-between;
	padding-inline: 25px;
}

.navbar-header a{
	text-decoration: none;
	color: white;	
	font-size: 24px;
}

.navbar-header a:hover{
	text-decoration: none;
	color: dark-blue;	
}